<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Miguel Ruiz", "https://github.com/MiguelERuiz", class: :text_white %> </small>
  </div>
</footer>